@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --animate-slide-in-right: slide-in-right 0.4s ease-out;
  --animate-blink: blink 0.4s ease-in-out 2;
  
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

:root {
  --color-primary: #0a66ff;
  --color-error: #ff3b3b;
  --color-success: #008000;
  --color-text-dark: #1c1c1e;
  --color-text-light: #6e6e73;
  --color-bg: #f5faff;
  --color-card: #ffffff;
  --color-border: #e0e0e0;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 28px;
  --font-xxl: 36px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}


body {
  margin: 0;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-text-dark);
  display: grid;
  place-items: center;
  height: 100vh;
}
